

$fieldHeight: 4rem;

form {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

input {
  width: 50%;
  max-width: 550px;
  height: $fieldHeight;
  font-size: 1.1rem;
  border: none;
  border-radius: 14px 0 0 14px;
  padding: 0 1.5rem;
  -webkit-border-radius: 14px 0 0 14px;
  -moz-border-radius: 14px 0 0 14px;
  -ms-border-radius: 14px 0 0 14px;
  -o-border-radius: 14px 0 0 14px;

  @media (max-width: 750px) {
    width: 100%;
    font-size: 1rem;
    padding: 0 1rem;
  }
}

